<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<package name="com.boot.dto"/>
	</typeAliases>
	<mappers>
		<mapper resource="mybatis/mappers/BookMapper.xml"/>
		<mapper resource="mybatis/mappers/BookMapper2.xml"/>
		<mapper resource="mybatis/mappers/CartMapper.xml"/>
		<mapper resource="mybatis/mappers/OrderMapper.xml"/>
		<mapper resource="mybatis/mappers/OrderDetailMapper.xml"/>
		<mapper resource="mybatis/mappers/SearchDAO.xml"/>
		<mapper resource="mybatis/mappers/User.xml"/>
		<mapper resource="mybatis/mappers/UserReviewMapper.xml"/>
		<mapper resource="mybatis/mappers/OrderHistoryMapper.xml"/>
		<mapper resource="mybatis/mappers/Board.xml"/>
		<mapper resource="mybatis/mappers/BoardAttach.xml"/>
	</mappers>
</configuration>
